.login_wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 500px;
}

.login_wrapper input {
    margin-bottom: 10px;
}

.login_wrapper button {
    width: 20%;
    margin: 0 auto;
}

input, button {
    padding: 10px;
}

